@page "/"

<div class="container">
    <h1>Sistema de Venda Raltec</h1>

    <div class="challenge-title">Teste: Desafio de Sistema Simples Comercial</div>

    <div class="challenge-description">
        <p>O objetivo deste projeto é criar um sistema de vendas que atenda às necessidades do comércio da Raltec. O sistema será capaz de registrar vendas e calcular descontos com base nas regras estabelecidas para os produtos.</p>

        <h2>Produtos Disponíveis</h2>
        <p>A base de produtos do comércio possui a seguinte estrutura:</p>
        <ul>
            <li><span class="requirements">Código</span></li>
            <li><span class="requirements">Nome</span></li>
            <li><span class="requirements">Valor Unitário</span></li>
            <li>
                <span class="requirements">Desconto por Quantidade:</span>
                <ul>
                    <li>Acima de 10 - 5%</li>
                    <li>Acima de 20 - 10%</li>
                    <li>Acima de 30 - 20%</li>
                </ul>
            </li>
        </ul>

        <h2>Dados da Venda</h2>
        <p>Para cada venda realizada, o sistema deverá registrar os seguintes dados:</p>
        <ul>
            <li><span class="requirements">Número da Venda</span></li>
            <li><span class="requirements">Data e Hora</span></li>
            <li>
                <span class="requirements">Itens Vendidos com:</span>
                <ul>
                    <li>Produto</li>
                    <li>Quantidade</li>
                    <li>Valor Total da Venda</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
